@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f7f7f7;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1{
  font-size: 40px;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
  border: none;
}

a:hover, button:hover{
  opacity: 0.7;
}

select{ 
  /*將預設的select選擇框樣式清除*/ 
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

/*清除ie的預設選擇框樣式清除，隱藏下拉箭頭*/
select::-ms-expand{ 
  display: none; 
} 

/*  clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
  content: "";
  display: block;
  clear: both;
}

.clearfix { *zoom:1; } /*for IE6,IE7*/

/*自訂樣式*/

.wrap{
  max-width: 1024px;
  margin: 0 auto;
}

/*#header區塊*/

#header{
  position: relative;
  height: 380px; 
  background: url(../images/img_bg_travel.png) top center no-repeat;
  text-align: center;
  padding-top: 89px;
  margin-bottom: 113px;
}

#header h1{
  color: #fff;
  margin-bottom: 96px;
}

#header #district{
  width: 80%;
  height: 48px;
  font-size: 18px;
  background: url(../images/icons_down.png) no-repeat 97.420202% center;
  background-color: rgba(255,255,255,0.70);
  border: 3px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 9.5px;
  padding-right: 11px;
}

#header #district option{
  font-size: 18px;
  background: rgba(255,255,255,0.70);
  border: 3px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 9.5px;
}

#header .hot_district{
  position: absolute;
  width: 78.125%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  bottom: -84px;
  left: 10.9375%;
  padding: 0 3.333333%;
  padding-top: 20px;
  padding-bottom: 18px;
  box-sizing: border-box;
}

#header .hot_district .hot_title{
  font-size: 18px;
  text-align: center;
  margin-bottom: 14px;
}

#header .hot_district .btn_hot{
  width: 40%; 
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 11px 0;
  margin: 0 3.333333%;
  margin-bottom: 10px;
}

#header .hot_district .hot_first{
  background: #8A82CC;
}

#header .hot_district .hot_second{
  background: #FFA782;
}

#header .hot_district .hot_third{
  background: #F5D105;
}

#header .hot_district .hot_fourth{
  background: #559AC8;
}

@media (min-width: 1024px){

  #header .hot_district .hot_title{
    text-align: left;
  }

  #header .hot_district .btn_hot{
    width: 20%; 
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 11px 0;
    margin: 0 15px;
    margin-bottom: 10px;
  }
}
/*#main區塊*/

#main .border_arrow{
  position: relative;
  height: 24px;
  background: linear-gradient(to right, #559AC8 0%, #559AC8 40%, transparent 40%);
  background-size: 10px 1px;
  background-repeat: repeat-x;
  margin: 0 5%;
  margin-bottom: 65px;
}

#main .border_arrow img{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 50%;
  margin: -12px 0 0 -12px;
}

#main h2{
  text-align: center;
  font-size: 36px;
  color: #8A82CC;
  margin-bottom: 24px;
}

#main .attractions{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 44px;
}

#main .attractions li{
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20); 
  margin-bottom: 36px;
}

#main .attractions li .attraction_title{
  position: relative;
  height: 155px;
  color: #fff;
  background: no-repeat center center;
  background-size: cover;
  font-weight: bold;
  margin-bottom: 16px;
}

#main .attractions li .attraction_title h3{
  position: absolute;
  font-size: 24px;
  bottom: 14px;
  margin-left: 22px;
}

#main .attractions li .attraction_title p{
  position: absolute;
  bottom: 11px;
  right: 0;
  font-size: 16px;
  margin-right: 14px;
}

#main .attractions .attraction_info{
  position: relative;
  padding-bottom: 20px;
  padding-left: 2%;
}

#main .attractions .attraction_info img{
  float: left;
}

#main .attractions .attraction_info .icon_time{
  padding-left: 3px;
  padding-right: 9px;
}

#main .attractions .attraction_info .icon_address{
  padding-left: 4px;
  padding-right: 10px;
}

#main .attractions .attraction_info .icon_phone{
  padding-left: 6px;
  padding-right: 12px;
}

#main .attractions .attraction_info .time{
  margin-bottom: 16px;
}

#main .attractions .attraction_info .address{
  margin-bottom: 16px;
}

#main .attractions .attraction_info .phone{
  margin-bottom: 20px;
}

#main .attractions .attraction_info .free{
  position: absolute;
  bottom: 20px;
  right: 0;
  height: 20px;
  text-indent: 28px;
  background: url(../images/icons_tag.png) no-repeat;
  margin-right: 2%;
}

#main .page{
  width: 90%;
  text-align: center;
  color: #4A4A4A;
  margin: 0 auto;
  margin-bottom: 40px;
}

#main .page .page_num{
  display: inline;
} 

#main .page .page_link{
  margin: 0 3%;
}

#main .page .page_link:hover{
  color: #559AC8;
  opacity: 1;
}

#main .page .prev_next{
  margin: 0 2%;
}

#main .page .prev_next:hover{
  color: rgba(73,73,73,0.50);
  opacity: 1;
}

@media (min-width: 1024px){
  #main .attractions li{
    float: left;
    width: 48%;
    margin: 0 1%;
    margin-bottom: 36px;
  }
}

/*#footer區塊*/

#footer{
  font-size: 14px;
  text-align: center;
  background: #559AC8;
  padding: 24px 0;
}

#footer p{
  color: #fff;
  margin-bottom: 15px;
}

#footer a{
  color: #FFD366;
}

.btn_top{
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}